<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     
      <class name="testcases.credentials"/>
      <class name="testcases.privacy"/>
      <class name="testcases.titlepage"/>
      <class name="testcases.signin"/>
      <class name="testcases.home"/>
      <class name="testcases.Study"/>
      <class name="testcases.login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
